.table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.table {
    width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border-radius: 8px; /* Rounded corners for the table */
    overflow: hidden; /* Ensures the rounded corners are applied */
}

.table th,
.table td {
    border: 1px solid #282c34;
    text-align: left;
    padding: 8px;
    color: #ffffff;
}

.table th {
    background:  linear-gradient(240deg, #4a00e0, #8e2de2);
    color: #ffffff;
    border-top: none; /* Remove top border for table header */
}

.table th:first-child {
    background: linear-gradient(45deg, #4a00e0, #8e2de2);
    border-top-left-radius: 8px; /* Rounded top left corner for first th */
}

.table th:last-child {
    background: linear-gradient(45deg, #4a00e0, #8e2de2);
    border-top-right-radius: 8px; /* Rounded top right corner for last th */
}