.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-breathe infinite 20s linear;
  }
}

.question-style {
  font-size: 1.2rem;
  color: #cccccc;
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .question-style {
    font-size: 1rem;
    color: #cccccc;
    font-weight: bold;
  }
}

.App-header, .App-body {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.nexa-logo {
  animation: App-logo-breathe 20s infinite;
  width: 25vh; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure full width for centering */
  height: auto; /* Adjust height as needed */
  padding-top: 20px; /* Adjust as needed for spacing from the top */
}

.question-container {
  margin: 20px 0;
  color: white;
}

.inputs-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.anchor-color {
  color: yellow;
}

.inline-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Spacing between buttons */
  margin-top: 20px;
}

.inline-wrapper-gif {
  display: flex;
  justify-content: center;
  gap: 10px; /* Spacing between buttons */
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
  .inline-wrapper-gif {
    width:80%;
    height:auto;
    gap: 5px; /* Decrease spacing between buttons */
    margin-top: 10px; /* Reduce margin at the top */
  }
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 2rem;
  background-color: #282c34;
  flex-grow: 0;
  font-size: 0.8rem;
  font-weight: bold;
  flex-shrink: 0;
  flex-basis: auto;
  position: fixed;
  color: white;
}



